.container{
    /*position: relative;*/
    width: 100%;
    /*border-style: solid;*/
    /*border-color: black;*/
}

#allbeers{
    padding-left: 90px;
    padding-top: 50px;
    /*border-style: solid;*/
    /*border-color: red;*/

}

#cards{
    display: flex;
    opacity: 0.85;
    overflow: auto;
    align-items: center;
    align-content: center;
    align-self: center;
    border-style: solid;
    border-color: grey;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 30em;
    width: auto;

}

.card-body{
    margin-top: 18px;
}

.beerImage{
    width: auto;
    height: 12em;
    object-fit: contain;
    /*border-style: solid;*/
    /*border-color: green;*/
}

.collapse{
    overflow: auto;
}

body{
  background-image: url("beer-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
    text-align: center;
}

#nextPage{
    margin-top: 15px;
    margin-bottom: 20px;
}
